@use "../../global/scss/variables" as *;
@use "../../global/scss/base";
@use "../../global/scss/typography";

/* traveller details page */
.traveller-details-page {
    position: relative;
    width: 100%;
    background: $brand;
    overflow: hidden;

    .appbar-container {
        position: relative;
        width: 100%;
        height: 130px;
        overflow: hidden;
        background: $brand;

        .appbar-row {
            position: absolute;
            top: 45px;
            left: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 9;
            flex: 1;

            h2 {
                font-family: $font-primary-poppins;
                font-size: $fs-lg;
                font-weight: $fw-semibold;
                color: $white;
                text-align: center;
                flex: 1;
            }

            .icon-btn {
                position: absolute;
                left: 16px;
                top: 50%;
                transform: translateY(-50%);
                z-index: 50;
                border: none;
                padding: 0;
                cursor: pointer;
                font-size: 16px;
                background: none;
                padding: 0;
                display: inline-flex;
                align-items: center;
                justify-content: center;

                .back-btn {
                    display: block;
                    width: 10px;
                    height: 15px;
                    background: transparent;
                    object-fit: contain;
                }

            }

            .right-icons {
                display: flex;
                align-items: center;
                gap: 16px;
                right: 16px;
                position: relative;

                .right-img-traveller {
                    width: 22px;
                    height: 22px;
                    object-fit: contain;
                }

                .rightLink {
                    font-family: $font-primary-poppins;
                    font-size: $fs-md;
                    font-weight: $fw-regular;
                    color: $white;
                    text-decoration: underline;
                }
            }

        }

        .svgbox {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 71px;
            z-index: 3;

            svg {
                width: 100%;
                height: 71px;
                display: block;
            }
        }
    }
}

/* trip summary */
.trip-summary {
    padding: 0 16px;
    position: relative;
    margin-top: -10px;
    z-index: 999;
    position: sticky;

    h3 {
        font-family: $font-primary-poppins;
        font-size: $fs-md;
        font-weight: $fw-semibold;
        color: $heading;
    }

    p {
        font-family: $font-primary-poppins;
        font-size: $fs-sm;
        font-weight: $fw-regular;
        color: $borderTxt;
        margin-top: 2px;
    }
}

/* traveller section */
.traveller-section:last-of-type {
    margin-bottom: 100px;
}

.traveller-section {
    background-color: $white;
    padding: 16px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.10);
    margin-bottom: 16px;

    .divider-line {
        margin: 12px 16px 0 16px;
        height: 0;
        border-bottom: 1px dashed $dividerCity;
    }


    .section-header {
        padding: 0 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h4 {
            margin: 0;
            font-family: $font-primary-poppins;
            font-size: $fs-lg;
            font-weight: $fw-semibold;
            color: $heading;
        }

        h5 {
            margin: 0;
            font-family: $font-primary-poppins;
            font-size: $fs-md;
            font-weight: $fw-semibold;
            color: $link;
        }

        span {
            margin: 0;
            font-family: $font-primary-poppins;
            font-size: $fs-lg;
            font-weight: $fw-semibold;
            color: $borderTxt;
        }

        .edit-icon {
            width: 17px;
            height: 17px;
            object-fit: contain;
        }
    }

    .traveller-room-card {

        h3 {
            font-family: $font-primary-poppins;
            font-size: $fs-base;
            font-weight: $fw-semibold;
            color: $heading;
            margin: 0 16px;
            margin-top: 16px;

        }
    }

    .traveller-card {
        background: $borderInner;
        display: flex;
        align-items: center;
        padding: 16px 12px;
        margin: 8px 16px;
        border-radius: $radius-md;
        border: 1px solid $borderOuter;

        &.traveller-card--review {
            margin: 8px 16px;
            border-radius: 16px;
        }

        img {
            width: 26px;
            height: 28px;
            border-radius: 50%;
            margin-right: 8px;
        }

        .traveller-info {
            width: 100%;
            justify-content: space-between;
            display: flex;
            align-items: center;

            .name {
                font-family: $font-primary-poppins;
                font-size: $fs-md;
                font-weight: $fw-semibold;
                color: $heading;
                margin: 0;
            }

            .type {
                font-family: $font-primary-poppins;
                font-size: $fs-md;
                font-weight: $fw-semibold;
                color: $borderTxt;
                margin: 0;
            }
        }
    }
}

/* contact section */
.contact-section {
    background-color: $white;
    padding: 16px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.10);
    margin-bottom: 16px;

    .section-header {
        padding: 0 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h4 {
            margin: 0;
            font-family: $font-primary-poppins;
            font-size: $fs-lg;
            font-weight: $fw-semibold;
            color: $heading;
        }
    }

    .contact-content {
        padding: 0 16px 4px 16px;

        .form-row {
            display: flex;
            flex-wrap: nowrap;
            gap: 10px;
            align-items: flex-start;

        }

        .modify-input-group {
            margin-top: 12px;
            flex-direction: column;
            background-color: $skyblue;
            border: 1px solid $skyblueBorder;
            align-items: start;
            border-radius: $radius-lg;
            padding: 7px 12px;

            input {
                width: 100%;
                outline: none;
                border: none;
                background: transparent;
                color: $heading;
                font-family: $font-primary-poppins;
                font-weight: $fw-semibold;
                font-size: $fs-md;

                &::placeholder {
                    color: $heading;
                    opacity: 1;
                }
            }

            .search-label {
                font-family: $font-primary-poppins;
                font-size: $fs-sm;
                font-weight: $fw-semibold;
                color: $badgebg;
            }
        }

    }

    .country-code {
        flex-shrink: 0;
        width: auto;
        min-width: 100px;
        cursor: pointer;
        position: relative;

        .country-input-row {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .flag-icon {
                width: 22px;
                height: 16px;
            }

            h2 {
                font-family: $font-primary-poppins;
                font-size: $fs-md;
                font-weight: $fw-semibold;
                color: $heading;
                margin: 0 12px 0 8px;
                flex: 1;
            }

            .dropdown-icon {
                width: 12px;
                height: 12px;
                margin-bottom: 0px;
                object-fit: contain;
            }
        }
    }


}

/* country select bottom sheet */
.bottom-sheet-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    display: none;

    &.active {
        display: block; // Show overlay background

        .bottom-sheet {
            bottom: 0; // Slide up to the bottom of the screen
        }
    }
}

.bottom-sheet {
    position: fixed;
    bottom: -100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 420px;
    max-height: 70vh;
    background: $white;
    border-radius: $radius-popup $radius-popup 0 0;
    box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.1);
    padding: 12px 16px 30px 16px;
    z-index: 999;
    transition: bottom 0.35s ease-in-out;
    display: flex;
    flex-direction: column;

    .sheet-header {
        padding-bottom: 12px;
        text-align: center;
        border-bottom: 1px solid #f0f0f0;

        .drag-handle {
            width: 40px;
            height: 4px;
            background: #e0e0e0;
            border-radius: 2px;
            margin: 0 auto 8px;
        }

        h3 {
            margin: 0;
            font-family: $font-primary-poppins;
            font-size: $fs-lg;
        }
    }

    .search-container {
        position: sticky;
        top: 0;
        background: $white;
        padding: 8px 0 16px 0;
        z-index: 10;
        border-bottom: 1px solid #f0f0f0;

        input {
            width: 100%;
            height: 44px;
            padding: 0 16px;
            border: 1.5px solid #e0e0e0;
            border-radius: 8px;
            font-family: $font-primary-poppins;
            font-size: 15px;
            color: $heading;
            outline: none;
            transition: border-color 0.2s ease;
            background: $white;

            &::placeholder {
                color: #b0b0b0;
                font-weight: 400;
            }

            &:focus {
                border-color: #007bff;
                box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.1);
            }
        }
    }

    .country-list {
        margin-top: 8px;
        list-style: none;
        padding: 0;
        margin: 0;

        .country-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 14px 4px;
            border-bottom: 1px solid #f2f2f2;
            cursor: pointer;
            transition: background 0.2s;

            &:active {
                background-color: #f5f5f5;
            }

            .country-info-left {
                display: flex;
                align-items: center;
                gap: 16px;

                .list-flag {
                    width: 26px;
                    height: auto;
                    border-radius: 2px;
                    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
                }

                .country-name-text {
                    font-family: $font-primary-poppins;
                    font-size: 15px;
                    color: $heading;
                    font-weight: 400;
                }
            }

            .country-dial-code {
                font-family: $font-primary-poppins;
                font-size: 15px;
                color: #888;
                font-weight: 500;
            }
        }
    }

    .sheet-body {
        padding: 0 16px;
        overflow-y: auto;
        flex-grow: 1;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}


/* gstin container */
.gstin-container {
    background-color: $white;
    padding: 16px 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.10);
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .gstin-left {
        display: flex;
        align-items: center;
        gap: 8px;

        .gstin-icon {
            width: 22px;
            height: 29px;
        }

        .gstin-text {
            display: flex;
            flex-direction: column;

            .gstin-title {
                margin: 0;
                font-family: $font-primary-poppins;
                font-size: $fs-lg;
                font-weight: $fw-semibold;
                color: $heading;
            }

            .gstin-subtitle {
                font-family: $font-primary-poppins;
                font-size: $fs-base;
                font-weight: $fw-medium;
                color: $borderTxt;
            }
        }
    }

    .gstin-add {
        font-family: $font-primary-poppins;
        font-size: $fs-md;
        font-weight: $fw-medium;
        color: $link;
    }
}

/* additional services */
.additional-services {
    background-color: $white;
    padding: 16px 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.10);
    margin-bottom: 120px;

    h3 {
        margin: 0;
        font-family: $font-primary-poppins;
        font-size: $fs-lg;
        font-weight: $fw-semibold;
        color: $heading;
    }

    .checkbox-group {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 12px 0 0 0;
        gap: 16px;

        .custom-checkbox {
            padding: 0;
            margin: 0;
            position: relative;
            display: flex;
            align-items: center;
            gap: 8px;
            cursor: pointer;
            font-family: $font-primary-poppins;
            font-weight: $fw-semibold;
            font-size: $fs-md;
            color: $heading;
            user-select: none;

            input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
            }

            .checkmark {
                width: 18px;
                height: 18px;
                border: 2px solid $borderGrey;
                border-radius: $radius-xsm;
                background-color: $white;
                box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
                transition: all 0.2s ease;
            }

            input:checked~.checkmark {
                background-color: $brand;
                border-color: $brand;
                box-shadow: 0 2px 6px rgba(227, 110, 85, 0.4);
            }

            .checkmark::after {
                content: "";
                position: absolute;
                display: none;
            }

            input:checked~.checkmark::after {
                display: block;
                left: 6px;
                width: 5px;
                height: 10px;
                border: solid $white;
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
            }

            .custom-checkbox:hover .checkmark {
                border-color: $brand;
            }

            .label-text {
                position: relative;
                top: 1px;
                font-family: $font-primary-poppins;
                font-weight: $fw-regular;
                font-size: $fs-md;
                color: $heading;
                margin: 0;
            }
        }

        .show-all {
            font-family: $font-primary-poppins;
            font-weight: $fw-semibold;
            font-size: $fs-base;
            color: $showAllLink;
        }

    }
}

/* gst popup */
.gst-popup {
    position: fixed;
    bottom: -100%;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 100%;
    max-width: 420px;
    background: $badgebg;
    z-index: 9999;
    transition: bottom 0.5s ease;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.gst-popup.active {
    bottom: 0;
}

.gst-container {
    border-top-left-radius: $radius-popup;
    border-top-right-radius: $radius-popup;
    width: 100%;
    // height: 32vh;
    background: $white;
    display: flex;
    flex-direction: column;
    position: fixed;
    padding: 12px 16px 20px 16px;
    box-sizing: border-box;
    box-shadow: 0 4px 10px rgba(114, 103, 103, 0.15);
    z-index: 9999;
    overflow: hidden;

    .filter-top {
        flex-shrink: 0;
        background: $white;
        padding: 0 0 18px 0;
        align-items: center;

        .drag-bar {
            width: 90px;
            height: 3px;
            background: $dragbar;
            border-radius: $radius-base;
            margin: 0 auto 0 auto;
        }

        .filter-header {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            flex-shrink: 0;
            margin-top: 16px;


            h3 {
                font-family: $font-primary-poppins;
                font-weight: $fw-semibold;
                color: $heading;
                font-size: $fs-xl;
                margin: 0;
            }

        }
    }


    .modify-input-group {
        margin-bottom: 16px;
        flex: 1;
        flex-direction: column;
        background-color: $skyblue;
        border: 1px solid $skyblueBorder;
        align-items: start;
        border-radius: $radius-lg;
        padding: 16px 12px;

        input {
            width: 100%;
            outline: none;
            border: none;
            background: transparent;
            color: $heading;
            font-family: $font-primary-poppins;
            font-weight: $fw-medium;
            font-size: $fs-md;
            color: $heading;

            &::placeholder {
                font-family: $font-primary-poppins;
                font-weight: $fw-medium;
                font-size: $fs-md;
                color: $borderTxt;

            }
        }
    }

    .checkbox-group {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 4px 0 20px 0;
        gap: 16px;

        .custom-checkbox {
            padding: 0;
            margin: 0;
            position: relative;
            display: flex;
            align-items: center;
            gap: 8px;
            cursor: pointer;
            font-family: $font-primary-poppins;
            font-weight: $fw-semibold;
            font-size: $fs-md;
            color: $heading;
            user-select: none;

            input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
            }

            .checkmark {
                width: 18px;
                height: 18px;
                border: 2px solid $borderGrey;
                border-radius: $radius-xsm;
                background-color: $white;
                box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
                transition: all 0.2s ease;
            }

            input:checked~.checkmark {
                background-color: $brand;
                border-color: $brand;
                box-shadow: 0 2px 6px rgba(227, 110, 85, 0.4);
            }

            .checkmark::after {
                content: "";
                position: absolute;
                display: none;
            }

            input:checked~.checkmark::after {
                display: block;
                left: 6px;
                width: 5px;
                height: 10px;
                border: solid $white;
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
            }

            .custom-checkbox:hover .checkmark {
                border-color: $brand;
            }

            .label-text {
                position: relative;
                top: 1px;
                font-family: $font-primary-poppins;
                font-weight: $fw-regular;
                font-size: $fs-md;
                color: $heading;
                margin: 0;
            }
        }

        .show-all {
            font-family: $font-primary-poppins;
            font-weight: $fw-semibold;
            font-size: $fs-base;
            color: $showAllLink;
        }

    }

    .search-btn {
        width: 100%;
        padding: 14px;
        background: linear-gradient(90deg, #6787F3, $link);
        color: $white;
        border: none;
        border-radius: $radius-lg;
        font-family: $font-primary-poppins;
        font-weight: $fw-semibold;
        color: $white;
        font-size: $fs-lg;
        cursor: pointer;
    }

}

/* --- Background overlay --- */
.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.75);
    display: none;
    transition: opacity 0.3s ease;
    z-index: 999;
    left: 50%;
    transform: translateX(-50%);
    max-width: 420px;
    width: 100%;
    height: 100%;
    margin: 0 0;
}

/* fare summary */
.fare-summary {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    max-height: 70vh;
    left: 50%;
    transform: translateX(-50%);
    max-width: 420px;
    background: $white;
    border-radius: $radius-popup $radius-popup 0 0;
    box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.1);
    padding: 12px 16px 30px 16px;
    z-index: 999;
    transition: bottom 0.35s ease-in-out;
    display: flex;
    flex-direction: column;

    .fare-summary-detail-content {
        overflow-y: auto;
        flex-grow: 1;
        scrollbar-width: none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .drag-bar {
        width: 90px;
        height: 3px;
        background: $dragbar;
        border-radius: $radius-base;
        margin: 0 auto 16px auto;
    }

    h3 {
        text-align: center;
        font-family: $font-primary-poppins;
        font-size: $fs-xl;
        font-weight: $fw-semibold;
        color: $heading;
        margin-bottom: 16px;
    }

    .divider-line {
        height: 0;
        border-bottom: 1px dashed $dividerCity;
        width: 100%;
    }

    .summary-item {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .summary-left {
            display: flex;
            flex-direction: column;
        }

        p {
            margin: 0;
        }

        .label {
            font-family: $font-primary-poppins;
            font-size: $fs-md;
            font-weight: $fw-semibold;
            color: $heading;
            margin: 0;

            &.bold {
                font-weight: $fw-bold;
            }
        }

        .sub {
            font-family: $font-primary-poppins;
            font-size: $fs-md;
            font-weight: $fw-regular;
            color: $borderTxt;
            margin: 0;
            margin-top: 2px;
        }

        .value {
            font-family: $font-primary-poppins;
            font-size: $fs-md;
            font-weight: $fw-semibold;
            color: $heading;
            margin: 0;
            text-align: right;

            .currency {
                font-family: $font-roboto;
                font-size: $fs-md;
                font-weight: $fw-medium;
                color: $heading;
                margin: 0;
            }

            &.bold {
                font-weight: $fw-bold;

                .currency {
                    font-weight: $fw-semibold;
                }
            }

            &.green {
                color: $filterGreen;

                .currency {
                    color: $filterGreen;
                }
            }
        }

        .claim {
            font-family: $font-primary-poppins;
            font-size: $fs-base;
            font-weight: $fw-semibold;
            color: $borderTxt;
            margin-left: 4px;
            gap: 9px;

            img {
                height: 16px;
                width: 16px;
                margin-left: 9px;
            }
        }
    }

    .tcs-sub {
        padding: 4px 12px;
    }

    .sub-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2px 0;

        p {
            margin: 0;
        }

        .sub {
            font-size: $fs-base;
            color: $borderTxt;
            font-weight: $fw-regular;
            line-height: 1.5;
        }

        .value {
            font-size: $fs-base;
            font-weight: $fw-medium;
            color: $borderTxt;

            .currency {
                font-size: $fs-base;
            }
        }
    }

    .item-package {
        margin-top: 15px;
    }

    .item-gst {
        margin-top: 8px;
        margin-bottom: 10px;
    }

    .item-total {
        margin-top: 10px;
    }

    .item-tcs {
        margin-top: 12px;
        margin-bottom: 12px;
    }

    .grand {
        margin-top: 16px;

        &.detailFs {
            margin-top: 12px;
            margin-bottom: 12px;
        }

        .label {
            font-family: $font-primary-poppins;
            font-weight: $fw-semibold;
            font-size: $fs-xxl;
            color: $heading;

            &.detailFs {
                font-size: $fs-md;
                font-weight: $fw-bold;
            }

        }

        .value {
            font-family: $font-primary-poppins;
            font-weight: $fw-semibold;
            font-size: $fs-xxl;
            color: $heading;

            .currency {
                font-family: $font-roboto;
                font-size: $fs-xxl;
                font-weight: $fw-medium;
                color: $heading;
                margin: 0;
            }

            &.detailFs {
                font-size: $fs-md;
                font-weight: $fw-bold;

                .currency {
                    font-size: $fs-md;
                    font-weight: $fw-semibold
                }
            }
        }
    }

    .item-discount {
        margin-top: 8px;
        margin-bottom: 12px;
    }

    .item-package-cost {
        margin-top: 12px;
    }

    .item-gst-detailFs {
        margin-top: 8px;
        margin-bottom: 12px;
    }

    .item-total-detailFs {
        margin-top: 12px;
    }

    .item-tcs-detailFs {
        margin-top: 8px;
        margin-bottom: 12px;
    }

    &.show {
        bottom: 80px;
    }
}

/* select payment mode */
.paytype-box {
    padding: 24px 0;
}

.payment-option {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 12px 0;
    cursor: pointer;

    .option-content {
        margin-left: 8px;
        margin-top: -4px;
        flex: 1;

        .title {
            font-family: $font-primary-poppins;
            font-size: $fs-md;
            font-weight: $fw-semibold;
            color: $heading;
            margin: 0;
        }

        .sub {
            font-family: $font-primary-poppins;
            font-size: $fs-base;
            font-weight: $fw-regular;
            color: $borderTxt;
            margin: 0;
        }
    }

    .value {
        font-family: $font-primary-poppins;
        font-weight: $fw-semibold;
        font-size: $fs-md;
        color: $heading;
        margin: 0;

        .currency {
            font-family: $font-roboto;
            font-size: $fs-md;
            font-weight: $fw-medium;
            color: $heading;
            margin: 0;
        }
    }
}

.you-pay {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
    padding: 10px 0;

    .you-pay-title {
        font-family: $font-primary-poppins;
        font-size: $fs-xxl;
        font-weight: $fw-semibold;
        color: $heading;
        margin: 0;
    }

    .you-pay-sub {
        font-family: $font-primary-poppins;
        font-size: $fs-base;
        font-weight: $fw-regular;
        color: $borderTxt;
        margin: 0;
        margin-top: 4px;
    }

    .pay-values-right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .value.big {
            font-family: $font-primary-poppins;
            font-size: $fs-xxl;
            font-weight: $fw-semibold;
            color: $heading;
            margin: 0;

            .currency {
                font-family: $font-roboto;
                font-size: $fs-xxl;
                font-weight: $fw-medium;
            }
        }

        .due-later-amount {
            font-family: $font-primary-poppins;
            font-size: $fs-base;
            font-weight: $fw-regular;
            color: $borderTxt;
            margin: 0;
            margin-top: 4px;

            .currency-small {
                font-family: $font-roboto;
                margin-right: 2px;
            }
        }
    }
}


/* radio group */
.radio-group {
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 16px;

    .custom-radio {
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;
        font-family: $font-primary-poppins;
        font-weight: $fw-semibold;
        font-size: $fs-md;
        color: $heading;
        position: relative;

        input[type='radio'] {
            display: none;
        }

        .radio-check {
            width: 22px;
            height: 22px;
            border: 2px solid $borderGrey;
            border-radius: 50%;
            position: relative;
            transition: all 0.2s ease;
        }

        input[type='radio']:checked+.radio-check {
            border-color: $brand;
        }

        input[type='radio']:checked+.radio-check::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 10px;
            height: 10px;
            background-color: $brand;
            border-radius: 50%;
        }
    }
}

/* checkbox group */
.checkbox-group {
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 16px;

    .custom-checkbox {
        padding: 0;
        margin: 0;
        position: relative;
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;
        font-family: $font-primary-poppins;
        font-weight: $fw-semibold;
        font-size: $fs-md;
        color: $heading;
        user-select: none;

        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }

        .checkmark {
            width: 18px;
            height: 18px;
            border: 2px solid $borderGrey;
            border-radius: $radius-xsm;
            background-color: $white;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
            transition: all 0.2s ease;
        }

        input:checked~.checkmark {
            background-color: $brand;
            border-color: $brand;
            box-shadow: 0 2px 6px rgba(227, 110, 85, 0.4);
        }

        .checkmark::after {
            content: "";
            position: absolute;
            display: none;
        }

        input:checked~.checkmark::after {
            display: block;
            left: 6px;
            width: 5px;
            height: 10px;
            border: solid $white;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }

        .custom-checkbox:hover .checkmark {
            border-color: $brand;
        }

        .label-text {
            position: relative;
            top: 1px;
            font-family: $font-primary-poppins;
            font-weight: $fw-medium;
            font-size: $fs-md;
            color: $heading;
            margin: 0;
        }

        .bold {
            font-weight: $fw-semibold;
        }

        .popup {
            width: 90%;
            font-weight: $fw-regular;
            font-size: $fs-base;
            color: $borderTxt;
            margin-top: 10px;
        }
    }

    .show-all {
        font-family: $font-primary-poppins;
        font-weight: $fw-semibold;
        font-size: $fs-base;
        color: $showAllLink;
    }

}

/* tcs popup */
.tcs-popup-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    left: 50%;
    transform: translateX(-50%);
    max-width: 420px;
    width: 100%;
    height: 100%;
    margin: 0 0;


    &.active {
        display: flex;
    }

    .popup-content {
        margin: 0 16px;
        background: $white;
        border-radius: $radius-xlg;
        padding: 16px 12px 0 12px;
        box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
        animation: slideIn 0.3s ease forwards;
        max-height: 90vh;
        overflow-y: auto;

        .popup-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0;
            margin-bottom: 16px;
            position: relative;

            h2 {
                width: 90%;
                font-family: $font-primary-poppins;
                font-weight: $fw-semibold;
                font-size: $fs-lg;
                color: $heading;
                margin: 0;
            }

            span {
                position: absolute;
                top: 0;
                right: 0;
                margin-right: 4px;
                line-height: 1;
                font-size: $fs-price;
                cursor: pointer;
                color: $borderTxt;
            }
        }
    }

    p {
        font-family: $font-primary-poppins;
        font-size: $fs-base;
        font-weight: $fw-regular;
        color: $heading;
    }

    .divider-line {
        margin: 0;
        height: 1px;
        background-color: $skyblueBorder;
        width: 100%;
    }

    .search-btn {
        width: 100%;
        padding: 10px;
        background: linear-gradient(90deg, #6787F3, $link);
        color: $white;
        border: none;
        border-radius: $radius-lg;
        font-family: $font-primary-poppins;
        font-weight: $fw-semibold;
        color: $white;
        font-size: $fs-md;
        cursor: pointer;
        margin: 24px 0;
    }
}

/* bottombar */
.bottom-bar {
    position: fixed;
    bottom: 0;
    background: $white;
    box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.08);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding: 7px 16px 13px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
    left: 50%;
    transform: translateX(-50%);
    max-width: 420px;
    width: 100%;
    margin: 0 0;

    .left-section {
        .guest-info {
            display: flex;
            flex-direction: column;

            .guest-count {
                font-family: $font-roboto;
                font-size: $fs-md;
                font-weight: $fw-regular;
                color: $borderTxt;
                margin: 0;
            }

            .price-row {
                display: flex;
                align-items: center;
                gap: 15px;
                margin: 0;

                .price {
                    font-family: $font-primary-poppins;
                    font-size: $fs-xl;
                    font-weight: $fw-semibold;
                    color: $link;
                    margin: 0;
                }

                .rupee {
                    font-family: $font-roboto;
                    font-size: $fs-xl;
                    font-weight: $fw-bold;
                    color: $link;
                    margin: 0;
                }

                i {
                    border-radius: $radius-round;
                    background: $skyblueBorder;
                    color: $link;
                    font-size: $fs-md;
                    padding: 7px 7px;
                    width: 8;
                    height: 4;
                    margin: 0;
                }
            }

            .deal-applied {
                display: flex;
                align-items: center;
                gap: 4px;
                background: $filterGreenBG;
                font-family: $font-primary-poppins;
                font-size: $fs-xs;
                font-weight: $fw-semibold;
                color: $filterGreen;
                padding: 3px 8px 2px 6px;
                border-radius: $radius-popup;
                width: fit-content;

                img {
                    width: 12px;
                    height: 12px;
                    object-fit: contain;
                }
            }
        }
    }

    .right-section {
        .continue-btn {
            width: 100%;
            padding: 14px 36px 13px 36px;
            background: linear-gradient(90deg, #6787F3, $link);
            border: none;
            border-radius: $radius-lg;
            font-family: $font-primary-poppins;
            font-weight: $fw-semibold;
            font-size: $fs-lg;
            color: $white;
            cursor: pointer;
        }
    }
}