$brand: #16469D;
$white: #fff;
$black: #000;
$accent: #FFD136;
$border: #8D8D8D33;
$borderTxt: #8D8D8D;
$heading: #1F1F39;
$link: #008ED9;
$badgebg: #8f8f9c;
$codetxt: #585858;
$subtitle: #EAA06C;
$priceColor: #DA2028;
$card: #008ED933;
$divider: #2222221A;
$dragbar: #1C1C1C4D;
$cityBg: #16469D0F;
$dividerCity: #EAEAEA;
$filterGreen: #169D64;
$filterGreenBG: #169D641A;
$skyblue: #F2F7FF;
$skyblueBorder: #008ED90F;
$borderGrey: #afafaf;
$showAllLink: #67bbe8;
$detailHeading: #391F24;
$lightWhite: #FCFCFC;
$borderYellow: #EF8100;
$starYellow: #FF9B26;
$timeiconYellow: #EAB14D;
$test: #9f9f9f;

$shadow: 0 4px 14px rgba(0, 0, 0, 0.06);

// Fonts
$font-calibri: 'Calibri';
$font-active: 'Active';
$font-primary-poppins: 'Poppins';
$font-proxima-nova: 'Proxima Nova';
$font-segoeUI: 'Segoe UI';
$font-bebas-kai: 'Bebas Kai';
$font-roboto: 'Roboto';

// Font Sizes
$fs-xxs: 10px;
$fs-xs: 10px;
$fs-sm: 11px;
$fs-base: 12px;
$fs-md: 14px;
$fs-lg: 16px;
$fs-xl: 18px;
$fs-xxl: 20px;
$fs-price: 24px;
$fs-h1: 36px;

// Font Weights
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-xbold: 800;

// Radius
$radius-xxsm: 2px;
$radius-xsm: 4px;
$radius-base: 6px;
$radius-md: 8px;
$radius-lg: 10px;
$radius-xlg: 12px;
$radius-xxlg: 14px;
$radius-popup: 20px;
$radius-round: 50px;