@use "../../global/scss/variables" as *;
@use "../../global/scss/base";
@use "../../global/scss/typography";

/* traveller details page */
.traveller-edit-page {
    position: relative;
    width: 100%;
    background: $brand;
    overflow: hidden;

    .appbar-container {
        position: relative;
        width: 100%;
        height: 130px;
        overflow: hidden;
        background: $brand;

        .appbar-row {
            position: absolute;
            top: 45px;
            left: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 9;
            flex: 1;

            h2 {
                font-family: $font-primary-poppins;
                font-size: $fs-lg;
                font-weight: $fw-semibold;
                color: $white;
                text-align: center;
                flex: 1;
            }

            .icon-btn {
                position: absolute;
                left: 16px;
                top: 50%;
                transform: translateY(-50%);
                z-index: 50;
                border: none;
                padding: 0;
                cursor: pointer;
                font-size: 16px;
                background: none;
                padding: 0;
                display: inline-flex;
                align-items: center;
                justify-content: center;

                .back-btn {
                    display: block;
                    width: 10px;
                    height: 15px;
                    background: transparent;
                    object-fit: contain;
                }

            }

            .right-icons {
                display: flex;
                align-items: center;
                gap: 16px;
                right: 16px;
                position: relative;

                .right-img-traveller {
                    width: 22px;
                    height: 22px;
                    object-fit: contain;
                }

                .rightLink {
                    font-family: $font-primary-poppins;
                    font-size: $fs-md;
                    font-weight: $fw-regular;
                    color: $white;
                    text-decoration: underline;
                }
            }

        }

        .svgbox {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 71px;
            z-index: 3;

            svg {
                width: 100%;
                height: 71px;
                display: block;
            }
        }
    }
}

/* trip summary */
.trip-summary {
    padding: 0 16px;
    position: relative;
    margin-top: -10px;
    z-index: 999;
    position: sticky;

    h3 {
        font-family: $font-primary-poppins;
        font-size: $fs-md;
        font-weight: $fw-semibold;
        color: $heading;
    }

    p {
        font-family: $font-primary-poppins;
        font-size: $fs-sm;
        font-weight: $fw-regular;
        color: $borderTxt;
        margin-top: 2px;
    }
}

/* traveller section */
.traveller-section:last-of-type {
    margin-bottom: 100px;
}

.traveller-section {
    background-color: $white;
    padding: 16px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.10);
    margin-bottom: 16px;
    overflow: hidden;
    transition: max-height 0.3s ease;

    .divider-line {
        margin: 12px 16px 0 16px;
        height: 0;
        border-bottom: 1px dashed $dividerCity;
    }

    .room-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 16px 16px;

        h3 {
            font-family: $font-primary-poppins;
            font-size: $fs-lg;
            font-weight: $fw-semibold;
            color: $heading;
        }

        .dash {
            position: relative;
            width: 15px;
            height: 15px;
            cursor: pointer;
        }

        .dash::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            height: 2px;
            background-color: $heading;
            transform: translateY(-50%);
        }

        .dash::after {
            content: "";
            position: absolute;
            left: 50%;
            top: 0;
            bottom: 0;
            width: 2px;
            background-color: $heading;
            transform: translateX(-50%);
            transition: opacity 0.2s ease;
            opacity: 0;
        }

        .dash.closed::after {
            opacity: 1;
        }



    }

    .section-header {
        padding: 0 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;

        &:first-child {
            margin-top: 0;
        }

        h4 {
            margin: 0;
            font-family: $font-primary-poppins;
            font-size: $fs-lg;
            font-weight: $fw-semibold;
            color: $heading;
        }

        h5 {
            margin: 0;
            font-family: $font-primary-poppins;
            font-size: $fs-md;
            font-weight: $fw-semibold;
            color: $link;
        }

        span {
            margin: 0;
            font-family: $font-primary-poppins;
            font-size: $fs-lg;
            font-weight: $fw-semibold;
            color: $borderTxt;
        }

        .edit-icon {
            width: 17px;
            height: 17px;
            object-fit: contain;
        }
    }

    .traveller-gender-box {
        background: $white;
        margin: 16px 12px;
        display: flex;
        flex-wrap: nowrap;
        gap: 12px;
        align-items: center;
        overflow-x: auto;

        .traveller-gender {
            padding: 6px 10px;
            background: $white;
            border: 1px solid $borderOuter;
            border-radius: $radius-base;
            width: auto;
            display: flex;
            align-items: center;
            cursor: pointer;
            transition: all 0.3s ease;

            &.active {
                background: $linkBorder;
                border-color: $link;
            }

            img {
                width: 26px;
                height: 28px;
                border-radius: 50%;
                margin-right: 6px;
            }

            .gender {
                font-family: $font-primary-poppins;
                font-size: $fs-md;
                font-weight: $fw-semibold;
                color: $heading;
                margin: 0;
            }
        }
    }

    .modify-input-group {
        margin: 0 16px;
        margin-bottom: 16px;
        flex: 1;
        display: flex;
        justify-content: space-between;
        background-color: $travellerEditInner;
        border: 1px solid $travellerEditOuter;
        align-items: start;
        border-radius: $radius-lg;
        padding: 7px 12px;

        &:last-child {
            margin-bottom: 0;
        }

        .left-column {
            display: flex;
            flex-direction: column;
            flex: 1;
        }

        .search-label {
            font-family: $font-primary-poppins;
            font-size: $fs-sm;
            font-weight: $fw-semibold;
            color: $borderTxt
        }

        input {
            margin-top: 2px;
            width: 100%;
            outline: none;
            border: none;
            background: transparent;
            font-family: $font-primary-poppins;
            font-weight: $fw-semibold;
            font-size: $fs-md;
            color: $heading;

            &::placeholder {
                color: $heading;
                opacity: 1;
            }
        }

        .calender-icon {
            width: 20px;
            height: 20px;
            flex-shrink: 0;
            margin-top: 12px;
        }
    }
}

.traveller-section.collapsed .section-header,
.traveller-section.collapsed .traveller-edit-card {
    display: none;
}

/* dob popup */
.dob-popup {
    position: fixed;
    left: 0;
    bottom: -100%;
    background: $white;
    border-radius: 25px 25px 0 0;
    box-shadow: 0 -2px 12px rgba(0, 0, 0, 0.1);
    padding: 12px 16px 20px 16px;
    transition: bottom 0.3s ease-in-out;
    z-index: 9999;
    left: 50%;
    transform: translateX(-50%);
    max-width: 420px;
    width: 100%;
    // height: 70vh;
    // height: 100%;
    margin: 0 0;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    display: none;

    &.active {
        bottom: 0;
        display: block;
    }

    .drag-bar {
        width: 90px;
        height: 3px;
        background: $dragbar;
        border-radius: $radius-base;
        margin: 0 auto 16px auto;
    }

    h3 {
        text-align: center;
        font-family: $font-primary-poppins;
        font-size: $fs-xl;
        font-weight: $fw-semibold;
        color: $heading;
        margin-bottom: 18px;
    }

}

/* dob overlay */
.overlay-dob-popup {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.75);
    display: none;
    transition: opacity 0.3s ease;
    z-index: 999;
    left: 50%;
    transform: translateX(-50%);
    max-width: 420px;
    width: 100%;
    height: 100%;
    margin: 0 0;
}


/* --- Variables for Calender --- */
$slide-height: 20px;
$highlight-height: 32px;
$visible-slides: 9;
$total-height: $slide-height * $visible-slides;
$highlight-color: $heading;
$text-color-inactive: #818181;
$text-color-active: $heading;

/* ---------------------------------------------------- */
.wheel-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $total-height;
    position: relative;
    overflow: hidden;
    margin: 0 20px;
}

.wheel.swiper-container {
    margin: 0 20px;
    flex-grow: 1;
    width: 33.33%;
    height: 100%;
    text-align: start;
    overflow: visible !important;
    mask-image: linear-gradient(to bottom,
            transparent 0%, // Top edge starts fully transparent
            black 20%, // Fades to fully visible (black) by 20%
            black 80%, // Stays fully visible until 80%
            transparent 100% // Fades back to transparent at the bottom edge
        );
    -webkit-mask-image: linear-gradient(to bottom,
            transparent 0%,
            black 20%,
            black 80%,
            transparent 100%);

    .swiper-wrapper {
        transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    }
}


/* ---------------------------------------------------- */
.swiper-slide {
    height: $slide-height;
    line-height: $slide-height;
    font-size: 16px;
    color: $text-color-inactive;
    margin-left: 10px;


    opacity: 0.6;
    transition: all 0.2s ease-out;

    &.swiper-slide-active {
        margin: 10px 0;
        text-align: start;
        font-size: 22px;
        font-weight: normal;
        color: $text-color-active;
        opacity: 1;
        transform: none !important;
    }
}

/* ---------------------------------------------------- */
.highlight {
    position: absolute;
    top: 55%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    height: $highlight-height;
    background-color: $highlight-color;
    pointer-events: none;
    border-radius: 8px;
    opacity: 0.1;
}


.dob-submit {
    width: 100%;
    padding: 10px;
    background: linear-gradient(90deg, #6787F3, $link);
    color: $white;
    border: none;
    border-radius: $radius-lg;
    font-family: $font-primary-poppins;
    font-weight: $fw-semibold;
    color: $white;
    font-size: $fs-md;
    cursor: pointer;
    margin: 0 0;
    margin-bottom: 10px;
}

/* bottombar button */
.bottom-bar-button {
    position: fixed;
    bottom: 0;
    background: $white;
    box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.08);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding: 15px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
    left: 50%;
    transform: translateX(-50%);
    max-width: 420px;
    width: 100%;
    margin: 0 0;

    .continue-btn {
        width: 100%;
        padding: 14px auto 13px auto;
        background: linear-gradient(90deg, #6787F3, $link);
        border: none;
        height: 50px;
        border-radius: $radius-lg;
        font-family: $font-primary-poppins;
        font-weight: $fw-semibold;
        font-size: $fs-lg;
        color: $white;
        cursor: pointer;
    }
}