@use "../../global/scss/variables" as *;
@use "../../global/scss/base";
@use "../../global/scss/typography";

/* credit card emi */
.credit-card-emi-page {
    position: relative;
    width: 100%;
    background: $brand;
    overflow: hidden;

    .appbar-container {
        position: relative;
        width: 100%;
        height: 130px;
        overflow: hidden;
        background: $brand;

        .appbar-row {
            position: absolute;
            top: 45px;
            left: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 9;
            flex: 1;

            h2 {
                font-family: $font-primary-poppins;
                font-size: $fs-lg;
                font-weight: $fw-semibold;
                color: $white;
                text-align: center;
                flex: 1;
            }

            .icon-btn {
                position: absolute;
                left: 16px;
                top: 50%;
                transform: translateY(-50%);
                z-index: 50;
                border: none;
                padding: 0;
                cursor: pointer;
                font-size: 16px;
                background: none;
                padding: 0;
                display: inline-flex;
                align-items: center;
                justify-content: center;

                .back-btn {
                    display: block;
                    width: 10px;
                    height: 15px;
                    background: transparent;
                    object-fit: contain;
                }

            }
        }

        .svgbox {
            position: absolute;
            bottom: -1px;
            left: 0;
            width: 100%;
            height: 71px;
            z-index: 3;
            pointer-events: none;

            svg {
                width: 100%;
                // height: 71px;
                height: 101%;
                display: block;
                border: none;
                outline: none;
                shape-rendering: geometricPrecision;

                path {
                    stroke: none;
                    stroke-width: 0;
                }
            }
        }
    }
}

/* creditcard-emi-content */
.creditcard-emi-content {
    // background-color: #E36E55;
    position: relative;
    margin-bottom: 120px;
    margin-top: -30px;
    padding-top: 10px;
    z-index: 999;
}

/* bank list wrapper */
.bank-list-wrapper {
    margin: 16px 0;
    padding: 0 16px;

    .title {
        font-family: $font-primary-poppins;
        font-weight: $fw-semibold;
    }

    .pay-apps-title {
        color: $heading;
        font-size: $fs-lg;
        font-size: $fs-md;
    }

    .other-banks-title {
        color: $borderTxt;
        font-size: $fs-md;
        margin-bottom: 10px;
    }

    .bank-list {
        list-style: none;
        padding: 0;
        margin: 0;

        .bank-item {
            // background-color: #E36E55;
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 16px 0;
            border-bottom: 1px dashed $dividerCity;
            position: relative;
            cursor: pointer;
            font-family: $font-primary-poppins;
            font-weight: $fw-regular;
            font-size: $fs-base;
            color: $heading;

            img {
                width: 24px;
                height: 24px;
            }

            .tick {
                margin-left: auto;
                width: 19px;
                height: 14px;
            }


            &.selected {
                .tick {
                    display: block;
                }
            }
        }
    }
}

/* credit table drawer */
.credit-drawer {
    position: fixed;
    left: 0;
    bottom: -100%;
    background: $white;
    border-radius: 25px 25px 0 0;
    box-shadow: 0 -2px 12px rgba(0, 0, 0, 0.1);
    padding: 12px 16px 20px 16px;
    transition: bottom 0.3s ease-in-out;
    z-index: 9999;
    left: 50%;
    transform: translateX(-50%);
    max-width: 420px;
    width: 100%;
    // height: 70vh;
    // height: 100%;
    margin: 0 0;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    &.active {
        bottom: 0;
    }

    .drag-bar {
        width: 90px;
        height: 3px;
        background: $dragbar;
        border-radius: $radius-base;
        margin: 0 auto 16px auto;
    }

    h3 {
        text-align: center;
        font-family: $font-primary-poppins;
        font-size: $fs-xl;
        font-weight: $fw-semibold;
        color: $heading;
        margin-bottom: 18px;
    }

}

.overlay-credit {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.75);
    display: none;
    transition: opacity 0.3s ease;
    z-index: 9998;
    left: 50%;
    transform: translateX(-50%);
    max-width: 420px;
    width: 100%;
    height: 100%;
    margin: 0 0;
}

/* emi table */
.emi-table {
    border-collapse: collapse;
    margin: 0;
    margin-bottom: 20px;
    border: 1px solid $borderOuter;

    th {
        padding: 12px 0;
        text-align: center;
        font-family: $font-primary-poppins;
        font-size: $fs-base;
        font-weight: $fw-semibold;
        color: $heading;
    }

    td {
        padding: 12px 0;
        text-align: center;
        font-family: $font-primary-poppins;
        font-size: $fs-base;
        font-weight: $fw-regular;
        color: $heading;
    }

    thead {
        background: $lightWhite;
    }

    tbody tr {
        border-bottom: 1px solid $borderOuter;
    }

    .radio-group {
        display: flex;
        flex-direction: column;
        margin: 0;
        align-items: center;
        padding: 0 18px;

        .custom-radio {
            display: flex;
            align-items: center;
            cursor: pointer;
            position: relative;

            input[type='radio'] {
                display: none;
            }

            .radio-check {
                width: 18px;
                height: 18px;
                border: 2px solid $borderGrey;
                border-radius: 50%;
                position: relative;
                transition: all 0.2s ease;
            }

            input[type='radio']:checked+.radio-check {
                border-color: $brand;
            }

            input[type='radio']:checked+.radio-check::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 10px;
                height: 10px;
                background-color: $brand;
                border-radius: 50%;
            }
        }
    }
}

.emi-table tbody td {
    border-right: 1px solid #eee;
}

.emi-table tbody td:last-child {
    border-right: none;
}

.continue-btn {
    width: 100%;
    padding: 14px 36px 13px 36px;
    background: linear-gradient(90deg, #6787F3, $link);
    border: none;
    border-radius: $radius-lg;
    font-family: $font-primary-poppins;
    font-weight: $fw-semibold;
    font-size: $fs-lg;
    color: $white;
    cursor: pointer;
}

/* bottombar */
.bottom-bar {
    position: fixed;
    bottom: 0;
    background: $white;
    box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.08);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding: 7px 16px 13px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
    left: 50%;
    transform: translateX(-50%);
    max-width: 420px;
    width: 100%;
    margin: 0 0;

    .left-section {
        .guest-info {
            display: flex;
            flex-direction: column;

            .guest-count {
                font-family: $font-roboto;
                font-size: $fs-md;
                font-weight: $fw-regular;
                color: $borderTxt;
                margin: 0;
            }

            .price-row {
                display: flex;
                align-items: center;
                gap: 15px;
                margin: 0;

                .price {
                    font-family: $font-primary-poppins;
                    font-size: $fs-xl;
                    font-weight: $fw-semibold;
                    color: $link;
                    margin: 0;
                }

                .rupee {
                    font-family: $font-roboto;
                    font-size: $fs-xl;
                    font-weight: $fw-bold;
                    color: $link;
                    margin: 0;
                }

                i {
                    border-radius: $radius-round;
                    background: $skyblueBorder;
                    color: $link;
                    font-size: $fs-md;
                    padding: 7px 7px;
                    width: 8;
                    height: 4;
                    margin: 0;
                }
            }

            .deal-applied {
                display: flex;
                align-items: center;
                gap: 4px;
                background: $filterGreenBG;
                font-family: $font-primary-poppins;
                font-size: $fs-xs;
                font-weight: $fw-semibold;
                color: $filterGreen;
                padding: 3px 8px 2px 6px;
                border-radius: $radius-popup;
                width: fit-content;

                img {
                    width: 12px;
                    height: 12px;
                    object-fit: contain;
                }
            }
        }
    }

    .right-section {
        .continue-btn {
            width: 100%;
            padding: 14px 36px 13px 36px;
            background: linear-gradient(90deg, #6787F3, $link);
            border: none;
            border-radius: $radius-lg;
            font-family: $font-primary-poppins;
            font-weight: $fw-semibold;
            font-size: $fs-lg;
            color: $white;
            cursor: pointer;
        }
    }
}