@use "../../global/scss/variables" as *;
@use "../../global/scss/base";
@use "../../global/scss/typography";

/* payment successful recieved page */
.payment-successful-recieved-background {
    font-family: $font-primary-poppins;
    background: $white;
    padding-bottom: 100px;

    .success-header {
        background: $filterGreen;
        color: $white;
        padding: 60px 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 220px;

        h2 {
            font-family: $font-primary-poppins;
            font-weight: $fw-semibold;
            font-size: $fs-xl;
            color: $white;
            margin: 0 0 2px;
        }

        p {
            font-family: $font-primary-poppins;
            font-weight: $fw-regular;
            font-size: $fs-lg;
            color: $white;
            margin: 0;

        }

        .rupee {
            font-family: $font-roboto;
            font-weight: $fw-bold;
            font-size: $fs-priceLow;
            color: $white;
        }

        .amount {
            font-family: $font-primary-poppins;
            font-weight: $fw-semibold;
            font-size: $fs-priceLow;
            color: $white;
        }

        .success-icon {
            width: 44px;
            height: 44px;
            margin-bottom: 30px;
        }
    }
}

/* payment successful recieved content */
.payment-successful-recieved-content {
    position: relative;
    margin-bottom: 16px;
    margin-top: -70px;
    z-index: 999;
}

/* recieve-payment-card */
.recieve-payment-card {
    position: relative;
    margin: 0 16px;
    border: none;
    align-items: center;
    padding: 20px 30px;
    z-index: 999;
    background: $white;
    border-radius: $radius-paidbox;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
    text-align: center;


    h3 {
        font-family: $font-primary-poppins;
        font-weight: $fw-bold;
        font-size: $fs-lg;
        color: $heading;
        margin: 0;
        margin-bottom: 20px;
    }

    .ref-label {
        font-family: $font-primary-poppins;
        font-weight: $fw-semibold;
        font-size: $fs-md;
        color: $heading;
        margin: 0;
        margin-bottom: 3px;
    }

    .ref-number {
        font-family: $font-primary-poppins;
        font-weight: $fw-semibold;
        font-size: $fs-lg;
        color: $link;
        margin: 0;
        margin-bottom: 20px;
    }

    .continue-btn {
        width: 100%;
        padding: 14px;
        background: linear-gradient(90deg, #6787F3, $link);
        border: none;
        border-radius: $radius-lg;
        font-family: $font-primary-poppins;
        font-weight: $fw-semibold;
        font-size: $fs-lg;
        color: $white;
        cursor: pointer;

        &:hover {
            opacity: .9;
        }
    }

}