@use "../../global/scss/variables" as *;
@use "../../global/scss/base";
@use "../../global/scss/typography";


/* net banking page */
.net-banking-page {
    position: relative;
    width: 100%;
    background: $brand;
    overflow: hidden;

    .appbar-container {
        position: relative;
        width: 100%;
        height: 130px;
        overflow: hidden;
        background: $brand;

        .appbar-row {
            position: absolute;
            top: 45px;
            left: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 9;
            flex: 1;

            h2 {
                font-family: $font-primary-poppins;
                font-size: $fs-lg;
                font-weight: $fw-semibold;
                color: $white;
                text-align: center;
                flex: 1;
            }

            .icon-btn {
                position: absolute;
                left: 16px;
                top: 50%;
                transform: translateY(-50%);
                z-index: 50;
                border: none;
                padding: 0;
                cursor: pointer;
                font-size: 16px;
                background: none;
                padding: 0;
                display: inline-flex;
                align-items: center;
                justify-content: center;

                .back-btn {
                    display: block;
                    width: 10px;
                    height: 15px;
                    background: transparent;
                    object-fit: contain;
                }

            }
        }

        .svgbox {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 71px;
            z-index: 3;

            svg {
                width: 100%;
                height: 71px;
                display: block;
            }
        }
    }
}

/* bank grid */
.netbanking-content {
    position: relative;
    margin-bottom: 120px;
    margin-top: -30px;
    padding-top: 10px;
    z-index: 999;
}

.bank-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
    padding: 16px;
    background: $white;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
    margin: 16px 0;

    .bank-card {
        border: 1px solid $linkBorder;
        border-radius: $radius-lg;
        padding: 9px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 0.2s ease;

        img {
            width: 30px;
            height: 30px;
            object-fit: contain;
            margin-bottom: 8px;
        }

        span {
            font-family: $font-primary-poppins;
            font-weight: $fw-semibold;
            font-size: $fs-sm;
            color: $heading;
            text-align: center;
            line-height: 1.2;
        }

        &:active {
            transform: scale(0.96);
        }
    }
}

/* convinient fee section */
.convinient-fee-section {
    display: flex;
    align-items: center;
    gap: 4px;
    color: $link;
    font-family: $font-primary-poppins;
    font-weight: $fw-semibold;
    font-size: $fs-sm;
    padding: 0px 16px;
    width: fit-content;

    img {
        width: 14px;
        height: 14px;
        object-fit: contain;
    }

    .rupee {
        font-family: $font-roboto;
        font-weight: $fw-semibold;
        font-size: $fs-sm;
        color: $link;
    }
}

/* bank list wrapper */
.bank-list-wrapper {
    margin: 16px 0;
    padding: 0 16px;

    .title {
        font-family: $font-primary-poppins;
        font-weight: $fw-semibold;
    }

    .pay-apps-title {
        color: $heading;
        font-size: $fs-lg;
        font-size: $fs-md;
    }

    .other-banks-title {
        color: $borderTxt;
        font-size: $fs-md;
        margin-bottom: 10px;
    }

    .bank-list {
        list-style: none;
        padding: 0;
        margin: 0;

        .bank-item {
            // background-color: #E36E55;
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 16px 0;
            border-bottom: 1px dashed $dividerCity;
            position: relative;
            cursor: pointer;
            font-family: $font-primary-poppins;
            font-weight: $fw-regular;
            font-size: $fs-base;
            color: $heading;

            img {
                width: 24px;
                height: 24px;
            }

            .tick {
                margin-left: auto;
                width: 19px;
                height: 14px;
            }


            &.selected {
                .tick {
                    display: block;
                }
            }
        }
    }
}

/* bottombar */
.bottom-bar {
    position: fixed;
    bottom: 0;
    background: $white;
    box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.08);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding: 7px 16px 13px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
    left: 50%;
    transform: translateX(-50%);
    max-width: 420px;
    width: 100%;
    margin: 0 0;

    .left-section {
        .guest-info {
            display: flex;
            flex-direction: column;

            .guest-count {
                font-family: $font-roboto;
                font-size: $fs-md;
                font-weight: $fw-regular;
                color: $borderTxt;
                margin: 0;
            }

            .price-row {
                display: flex;
                align-items: center;
                gap: 15px;
                margin: 0;

                .price {
                    font-family: $font-primary-poppins;
                    font-size: $fs-xl;
                    font-weight: $fw-semibold;
                    color: $link;
                    margin: 0;
                }

                .rupee {
                    font-family: $font-roboto;
                    font-size: $fs-xl;
                    font-weight: $fw-bold;
                    color: $link;
                    margin: 0;
                }

                i {
                    border-radius: $radius-round;
                    background: $skyblueBorder;
                    color: $link;
                    font-size: $fs-md;
                    padding: 7px 7px;
                    width: 8;
                    height: 4;
                    margin: 0;
                }
            }

            .deal-applied {
                display: flex;
                align-items: center;
                gap: 4px;
                background: $filterGreenBG;
                font-family: $font-primary-poppins;
                font-size: $fs-xs;
                font-weight: $fw-semibold;
                color: $filterGreen;
                padding: 3px 8px 2px 6px;
                border-radius: $radius-popup;
                width: fit-content;

                img {
                    width: 12px;
                    height: 12px;
                    object-fit: contain;
                }
            }
        }
    }

    .right-section {
        .continue-btn {
            width: 100%;
            padding: 14px 36px 13px 36px;
            background: linear-gradient(90deg, #6787F3, $link);
            border: none;
            border-radius: $radius-lg;
            font-family: $font-primary-poppins;
            font-weight: $fw-semibold;
            font-size: $fs-lg;
            color: $white;
            cursor: pointer;
        }
    }
}