@use "../../global/scss/variables" as *;
@use "../../global/scss/base";
@use "../../global/scss/typography";


/* upi payment */
/* pay using apps */

.app-card {
    background: $borderInner;
    border: 1px solid $borderOuter;
    border-radius: $radius-md;
    padding: 17px 12px;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
        display: flex;
        align-items: center;
        gap: 8px;

        .left-icon {
            width: 22px;
            height: 22px;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;

            img {
                max-width: 100%;
                max-height: 100%;
                object-fit: contain;
            }
        }

        span {
            font-family: $font-primary-poppins;
            font-weight: $fw-semibold;
            font-size: $fs-md;
            color: $heading;
        }

    }
}

.upi-header {
    display: flex;
    gap: 8px;

    img {
        width: 22px;
        height: 22px;
        object-fit: contain;
        display: block;
    }
}

.input-box {
    position: relative;
    display: flex;
    align-items: center;
    background: $borderInner;
    border: 1px solid $borderOuter;
    border-radius: $radius-md;
    padding: 18px 12px;

    .input-icon {
        width: 30px;
        height: 20px;
        object-fit: contain;
        margin-right: 8px;
    }

    input {
        border: none;
        outline: none;
        width: 100%;
        font-family: $font-primary-poppins;
        font-weight: $fw-semibold;
        font-size: $fs-md;
        color: $heading;

        &::placeholder {
            color: $borderTxt;
        }
    }
}