@use "variables" as *;



/* =====================================================
   GLOBAL RESET
   ===================================================== */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
}

body {
    font-family: $font-primary-poppins;
    font-weight: $fw-regular;
    font-size: $fs-base;
    line-height: 1.6;
    background: $white;
    -webkit-font-smoothing: antialiased;
}

.wrap {
    width: 100%;
    max-width: 420px;
    margin: 0 auto;
}

/* =====================================================
   TYPOGRAPHY
   ===================================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-primary-poppins;
    font-weight: $fw-regular;
    color: #111827;
    letter-spacing: 0.3px;
    line-height: 1.2;
}

h1 {
    font-size: $fs-xxl;
}

h2 {
    font-size: $fs-xl;
}

h3 {
    font-size: $fs-lg;
}

h4 {
    font-size: $fs-md;
}

p {
    font-family: $font-calibri;
    font-size: $fs-base;
    font-weight: $fw-regular;
    color: #1f2937;
    margin-bottom: 1rem;
}

/* Links */
a {
    color: $brand;
    text-decoration: none;
    transition: color 0.2s ease;

    &:hover {
        color: $accent;
    }
}

/* Buttons */
button {
    font-family: $font-calibri;
    font-weight: $fw-semibold;
    font-size: $fs-sm;
    border-radius: $radius-md;
    border: none;
    cursor: pointer;
    padding: 0.6rem 1.2rem;
    transition: background 0.3s ease, transform 0.2s ease;
    // box-shadow: $shadow;

    &:hover {
        transform: translateY(-1px);
    }
}

/* Cards */
.card {
    background: $card;
    border-radius: $radius-md;
    box-shadow: $shadow;

    &--blue {
        background: #008ED933;
    }

    &--white {
        background: $white;
        width: 205px !important;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.08);
        transition: box-shadow 0.2s ease, transform 0.2s ease;
    }
}

/* Utilities */
.text-muted {
    color: #6B7280;
}

// example muted
.text-accent {
    color: $accent;
}

.text-brand {
    color: $brand;
}

.text-bold {
    font-weight: $fw-bold;
}

.view-all {
    font-size: 13px;
}


/* review btn */
// .review-btn {
//     margin-top: 12px;
//     width: 100%;
//     padding: 9px auto;
//     background: $white;
//     border: 1px solid $reviewBorder;
//     border-radius: $radius-lg;
//     font-family: $font-primary-poppins;
//     font-weight: $fw-semibold;
//     font-size: $fs-lg;
//     color: $link;
//     cursor: pointer;
// }